---
const { homePageBanner, baseUrl } = Astro.props;

interface BtnTypes {
  href: string;
  label: string;
  isExternal: boolean;
}

const { title, subtitle, banner, buttons } = homePageBanner.section[0];
const { url } = banner;
---

<section
  class="flex flex-row w-full md:h-[50vh] bg-cover bg-top relative md:mask-radial-at-top md:mask-radial-from-50% md:mask-radial-to-100%"
  style={`background-image: url(${baseUrl}${url});`}
>
  <div
    class="flex flex-col flex-wrap justify-center items-center content-center md:content-end m-auto rounded-sm w-full p-5 text-center aspect-square md:aspect-auto md:h-full max-w-7xl md:pr-20"
  >
    <h1
      class="font-playfair font-bold text-3xl md:text-3xl mb-5 tracking-wider text-gris"
    >
      {title}
      <br />
      {subtitle}
    </h1>
    <div class="flex justify-center gap-3">
      {
        buttons &&
          buttons.map((btn: BtnTypes) => (
            <a
              href={btn.href}
              class="btn-banner"
              target={btn.isExternal ? "_blank" : ""}
            >
              {btn.label}
            </a>
          ))
      }
    </div>
  </div>
</section>
