---
interface ServicesTypes {
  image: ImageType;
  description: string;
  title: string;
}

interface ImageType {
  url: string;
}

const { homePageServicios, baseUrl } = Astro.props;
const services = homePageServicios.section[0].servicio;
---

<section id="servicios" class="max-w-7xl m-auto mb-12">
  <h2 class="title-section">Servicios</h2>

  <div
    class="flex mt-5 md:grid md:grid-cols-2 gap-1 snap-x snap-mandatory overflow-x-auto bg-principal"
  >
    {
      services &&
        services.map(({ image, description, title }: ServicesTypes) => (
          <div class="flex-none md:flex md:flex-row md:aspect-[2/1] box-border mx-3 last:mb-0 md:m-0 snap-center md:snap-none w-[80%] md:w-full border-2 border-dorado">
            <div class="md:col-span-1 flex flex-col justify-center items-center aspect-square bg-principal">
              <img class="w-36" src={`${baseUrl}${image.url}`} alt={title} />
            </div>
            <div class="md:col-span-1 flex flex-col justify-center items-center gap-3 aspect-square bg-principal">
              <h3 class="font-playfair text-xl font-semibold tracking-wider text-dorado">
                {title}
              </h3>
              <p class="font-inter font-thin text-gris">{description}</p>
            </div>
          </div>
        ))
    }
  </div>
</section>
